header {
    height: 60px;
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    clear: both;
    z-index: 60;

    div.header-logo {
        text-align: center;
        a {
            color: white;
            text-decoration: none;
        }
    }


}