footer {
  background-color: #191919;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: white;
  text-align: center;
  margin-top: 1em;
  ul {
    li {
      display: inline-block;
      padding: 1em;
      .social-icon {
        fill: white;
      }
    }
  }

  div.divisor {
    border-top: 1px solid #e3e3e3;
    height: 30px;
  }

}
