<div class="projects-section">
  <div class="container">
    <div class="projects-grid">
      <div *ngFor="let project of projects" class="projeto-item">
        <div class="img-produto">
          <a href="">
            <img [src]="project.covers[230]" alt="">
          </a>
        </div>
        <div class="info-projeto">
          <div class="nome-projeto">
            <a>{{project.name}}</a>
          </div>
          <div class="autor-projeto">
            <span>de: </span> <a>{{project.owners[0].display_name}}</a>
          </div>
          <div class="categoria-projeto">
            <a *ngFor="let field of project.fields"> {{field}},</a>
          </div>
          <div class="status-projeto">
            <a><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{project.stats.appreciations}}</a>
            <a><i class="fa fa-eye" aria-hidden="true"></i> {{project.stats.views}}</a>
            <a><i class="fa fa-bookmark" aria-hidden="true"></i></a>
          </div>      
        </div>

      </div>
    </div>
  </div>
</div>
