<div class="container">
    <div class="projeto-section">
        <div class="images-project">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/4690f352031553.5901fb808f643.png" alt="">
        </div>
        <div class="user-project">
          <div class="info-user">
            <div>
              <a routerLink="/projects" class="user-name">Relanjaelcoco studio</a>
              <a class="btn-follow">Seguir</a>
            </div>
            <img class="img-user" src="https://mir-s3-cdn-cf.behance.net/user/50/372299.540b5fd2967d8.png" alt="">
          </div>
          <div class="info-project">
            <p>Ayuda en Accion - 2015 Annual Report</p>
            <div>
              <a >Ilustração, </a>
              <a >Design grafico, </a>
              <a >Arquitetura de Informações</a>
            </div>
            <div class="status">
              <a><i class="fa fa-thumbs-up" aria-hidden="true"></i> 345</a>
              <a><i class="fa fa-eye" aria-hidden="true"></i> 675</a>
              <a><i class="fa fa-bookmark" aria-hidden="true"></i> 90</a>
            </div>
          </div>
          <div class="features-project">
              <a href="">
                <img src="https://a5.behance.net/706b5b6ccd9098c82e89779b9d5365163afa1eaf/img/galleries/icons/ribbons/1x/network.png" alt="">
              </a>  
              <a href="">
                <img src="https://a5.behance.net/706b5b6ccd9098c82e89779b9d5365163afa1eaf/img/galleries/icons/ribbons/1x/network.png" alt="">
              </a>  
              <a href="">
                <img src="https://a5.behance.net/706b5b6ccd9098c82e89779b9d5365163afa1eaf/img/galleries/icons/ribbons/1x/network.png" alt="">
              </a>  
          </div>
          <div class="tools-project">
              <a href="">
                <img src="https://a5.behance.net/706b5b6ccd9098c82e89779b9d5365163afa1eaf/img/project/tools/1x/illustrator.png" alt="">
              </a>  
              <a href="">
                <img src="https://a5.behance.net/706b5b6ccd9098c82e89779b9d5365163afa1eaf/img/project/tools/1x/illustrator.png" alt="">
              </a>  
              <a href="">
                <img src="https://a5.behance.net/706b5b6ccd9098c82e89779b9d5365163afa1eaf/img/project/tools/1x/illustrator.png" alt="">
              </a>  
              <a href="">
                <img src="https://a5.behance.net/706b5b6ccd9098c82e89779b9d5365163afa1eaf/img/project/tools/1x/illustrator.png" alt="">
              </a>  
          </div>

          <div class="appreciation-section">
            <a><i class="fa fa-thumbs-up"></i> Avaliar Projeto</a>
          </div>
        </div>
    </div>
</div>