<div class="container">
    <div  *ngIf="project" class="projeto-section">
        <div class="images-project">
          <div *ngFor="let module of project.modules">
            <img src="{{module.src}}" alt="">
          </div>
        </div>
        <div class="user-project">
          <div class="info-user">
            <div>
              <a [routerLink]="['/projects']" class="user-name">{{project.owners[0].display_name}}</a>
              <a class="btn-follow">Seguir</a>
            </div>
            <img class="img-user" src="{{project.owners[0].images[50]}}" alt="">
          </div>
          <div class="info-project">
            <p>{{project.name}}</p>
            <div>
              <a *ngFor="let field of project.fields">{{ field }}, </a>
            </div>
            <div class="status">
              <a><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{project.stats.appreciations}}</a>
              <a><i class="fa fa-eye" aria-hidden="true"></i> {{project.stats.views}}</a>
              <a><i class="fa fa-bookmark" aria-hidden="true"></i> {{project.stats.comments}}</a>
            </div>
          </div>
          <div class="features-project">
              <a *ngFor="let feature of project.features" >
                <img src="{{feature.site.ribbon.image}}" alt="">
              </a>  
          </div>
          <div class="tools-project">
              <a *ngFor="let tool of project.tools" >
                <div *ngIf="tool.synonym">
                  <img src="{{tool.synonym.icon_url}}" alt="">
                </div>
                <div *ngIf="!tool.synonym">
                  {{tool.title}}
                </div>

              </a>
          </div>

          <div class="appreciation-section">
            <a><i class="fa fa-thumbs-up"></i> Avaliar Projeto</a>
          </div>
        </div>
    </div>
</div>