<div class="projects-section">
  <div class="container">
    <div class="projects-grid">
      <div class="projeto-item">
        <div class="img-produto">
          <a href="">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/230/aa60aa47441905.Y3JvcCw3NzMsNjA1LDIyMywxMDM.jpg" alt="">
          </a>
        </div>
        <div class="info-projeto">
          <div class="nome-projeto">
            <a>Nome</a>
          </div>
          <div class="autor-projeto">
            <span>de: </span> <a>Fulano da Silva</a>
          </div>
          <div class="categoria-projeto">
            <a>Games,</a>
            <a>Games,</a>
            <a>Games</a>
          </div>
          <div class="status-projeto">
            <a><i class="fa fa-thumbs-up" aria-hidden="true"></i> 192</a>
            <a><i class="fa fa-eye" aria-hidden="true"></i> 550</a>
            <a><i class="fa fa-bookmark" aria-hidden="true"></i></a>
          </div>      
        </div>

      </div>
    </div>
  </div>
</div>
