    div {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: .5em;
        a {
        margin-right: 2px;
        color dimgray;
        img {
            height: 35px;
            width: 35px;
        }
        }
    }
