<div class="container-projeto">
  <div *ngIf="project && comments" class="projeto-section">
    <div class="images-project">
      <div *ngFor="let module of project.modules">
        <img src="{{module.src}}" alt="">
      </div>
      <div class="mid-project"></div>
      <div class="bottom-project">
        <div class="comentarios">
          <div class="coment-field">
            <h4>Comentarios (<strong>{{comments.length}}</strong>)</h4>
            <p>Você deve se <a>cadastrar</a> para participar da conversa.</p>
          </div>
          <div *ngFor="let comment of comments" class="comment-user">
            <a>
              <img class="img-user" src="{{comment.user.images[50]}}" alt="">
            </a>
            <div>
              <a>{{comment.user.display_name}}</a>
              <a>{{comment.comment}}</a>
            </div>
          </div>
        </div>
        <div class="info-section">
          <div class="creditos">
            <h4>Creditos</h4>
            <div class="info-creditos">
              <a>
                <img class="img-user" src="{{project.owners[0].images[50]}}" alt="">
              </a>
              <div>
                <a>{{project.owners[0].display_name}}</a>
                <a>{{project.owners[0].location}}</a>
              </div>
              <a>+ Seguir</a>
            </div>
          </div>
          <div class="tags">
            <h4>Tags</h4>
            <div>
              <a *ngFor="let tag of project.tags">{{tag}}</a>
            </div>
          </div>
          <div class="tools">
            <h4>Ferramentas Usadas</h4>
            <tools-component [tools]="project.tools"></tools-component>
          </div>

        </div>
      </div>
    </div>


    <div class="user-project">
      <div class="info-user">
        <div>
          <a [routerLink]="['/user', project.creator_id]" class="user-name">{{project.owners[0].display_name}}</a>
          <a [routerLink]="['/user', project.creator_id]" class="btn-follow">Seguir</a>
        </div>
        <img class="img-user" src="{{project.owners[0].images[50]}}" alt="">
      </div>
      <div class="info-project">
        <p>{{project.name}}</p>
        <div>
          <a *ngFor="let field of project.fields">{{ field }}, </a>
        </div>
        <div class="status">
          <a><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{project.stats.appreciations}}</a>
          <a><i class="fa fa-eye" aria-hidden="true"></i> {{project.stats.views}}</a>
          <a><i class="fa fa-bookmark" aria-hidden="true"></i> {{project.stats.comments}}</a>
        </div>
      </div>
      <div class="features-project">
        <a *ngFor="let feature of project.features">
          <img src="{{feature.site.ribbon.image}}" alt="">
        </a>
      </div>
      <div class="tools-project">
        <tools-component [tools]="project.tools"></tools-component>
      </div>

      <div class="appreciation-section">
        <a><i class="fa fa-thumbs-up"></i> Avaliar Projeto</a>
      </div>
    </div>
  </div>
</div>
