/* You can add global styles to this file, and also import other style files */

body {
    background-color: #F9F9F9;
}

img {
    max-width: 100%;
}

.modal-project {
    .modal-dialog{
        max-width: 90%;
    }
    .modal-content {
    }
}
